#Mac Files
.DS_Store

/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/web/bundles/
/web/assets/bundles/
/web/assets/legal_documents/*
!/web/assets/legal_documents/.htaccess
/web/assets/css/flag-icon-css
/files

#FRONTEND RULES
/app/frontend/spool/
/app/frontend/bootstrap.php.cache
/app/frontend/cache/*
!app/frontend/cache/.gitkeep
/app/frontend/logs/*
!app/frontend/logs/.gitkeep
/app/frontend/phpunit.xml
/web/frontend/bundles/

#MERCHANT RULES
/app/merchant/spool/
/app/merchant/bootstrap.php.cache
/app/merchant/cache/*
!app/merchant/cache/.gitkeep
/app/merchant/logs/*
!app/merchant/logs/.gitkeep
/app/merchant/phpunit.xml
/web/merchant/bundles/

#BACKEND RULES
/app/backend/spool/
/app/backend/bootstrap.php.cache
/app/backend/cache/*
!app/backend/cache/.gitkeep
/app/backend/logs/*
!app/backend/logs/.gitkeep
/app/backend/phpunit.xml
/web/backend/bundles/

/app/config/parameters.yml
/web/media/


/bin/
/composer.phar
/vendor/
/bower_components/
/node_modules/

/web/assets/images/brands/
/web/assets/images/uploads/
/web/assets/reactjs/build/
/web/assets/css/bower
/web/assets/js/bower
/web/assets/compiled/
/web/assets/socket.io/
/web/assets/css/flag-icon-css/

# SASS Cache
.sass-cache/
/sass/plugins/
compass_app_log.txt

#CSS Files
*.css
.idea
!/web/assets/ckeditor/*.css
!/web/assets/ckeditor/skins/flat/*.css
!/web/coming_soon/css/*.css
!/web/coming_soon/font-awesome/css/*.css

npm-debug.log
.phpintel

!/web/assets/images/uploads/users/defaults/*

/src/Yilinker/Bundle/CoreBundle/Resources/content/
!src/Yilinker/Bundle/CoreBundle/Resources/content/dist/
/src/Yilinker/Bundle/CoreBundle/Resources/reports/
/src/Yilinker/Bundle/FrontendBundle/Resources/reports/
/src/Yilinker/Bundle/MerchantBundle/Resources/reports/
/app/accounts/logs/*
logs/*
!app/accounts/logs/.gitkeep
/app/notifications/logs/*
!app/notifications/logs/.gitkeep
/app/build/

#IDE Files
.buildpath
.settings/org.eclipse.php.core.prefs
.project
