{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User creation</h1>
    <ul>
        {% for user in results %}
            <li> {{ user.password }} </li>
            <li> {{ user.primaryImage.imageLocation }} </li>
        {% endfor %} 
    </ul>
{% endblock %}